
.icon-cloud-sun:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-lemon:before { content: '\e807'; } /* '' */